*.aux
*.log
*.stamp
.*.swp
.*.swo
*.out
*.upa
*.upb
*.bbl
*.blg
*.DS_Store
*.spl
__latexindent_temp.tex

draft.*
final.*
finaldraft.*
local.*
markup.*
submission.*
blindtr.*
tr.*
trdraft.*
web.*
arxiv.*

ltex.hiddenFalsePositives.*.txt
.vscode/settings.json
paper.fls
paper.fdb_latexmk

_minted-*

local
